$secondaryBackground: #171717;
$seperationSpace: 4px;

h1 {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: -40px;
}

.box-section {
    background-color: $secondaryBackground;
    border-radius: 2px;
}

.image-container {
    padding-top: 80px;
    padding-bottom: 80px;

    img {
        display: block;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

.picture-grid {
    display: grid;
    margin-top: 4px;
    grid-auto-columns: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.picture-grid-col {
    padding: 24px 5px;
    img {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.info-grid {
    margin-top: 4px;
    display: grid;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.info-grid-col {
    position: sticky;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    padding-left: 12px;
    list-style-type: none;
}

li {
    margin-bottom: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 36px;
    // background-image: url(../images/circle.svg);
    background-position: 0% 50%;
    background-size: 18px;
    background-repeat: no-repeat;
    color: #8d8d8d;
    font-size: 16px;
}

.button-grid {
    width: 100%;
    height: 40px;
    background-color: blue;
}

.projects-grid {
    margin-top: 80px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.projects-grid-col {
    padding: 24px 24px 0 24px;

    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    img {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}